h1 {
    color: #00AD4A;
    font-family: Inter-900;
    font-size: 96px;
    text-shadow: 2px 2px black;
}

p {
    font-family: Inter;
    font-size: 20px;
}

.btn-primary {
    background-color: #2c75e3 !important;
}

.col {
    border-color: #2b2f32;
}