{% extends '@admin/base.html.twig' %}
{% set title = 'Офферы' %}
{% block card_button_bar %}
    <a href="{{ path('admin_offer_new') }}" class="btn btn-primary">Добавить</a>
{% endblock %}
{% block card_body %}
    <div class="row row-cols-1 justify-content-center">
        {% include '@loan/offers/list.html.twig' with { 'offers': offers, 'edit_action': true, 'ym_counter_tag': false} %}
    </div>
{% endblock %}
