
###> symfony/framework-bundle ###
/.env.*
/.env.local
/.env.local.php
.env.*
/.env.*.local
docker/nginx/docker-compose.override.yml
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/assets
/var/
/vendor/
.idea
log/*
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
/docker/docker/
/docker/nginx/ssl/
/docker/nginx/log/
/assets/content/img/admin/logo/

### file extentions
*.override.yaml
*.log
