
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
docker/compose.override.yaml
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.idea
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
/docker/docker/
