<div id="advantages" class="bg_white block-sm row row-cols-1 justify-content-center">
    <div class="col p-4 text-center"><h5 class="semi-bold">Преимущества работы с нами</h5></div>
    <div class="w-75 col m-lg-3">
        <div class="row row-cols-lg-4 row-cols-sm-1 justify-content-evenly d-flex align-items-top m-sm-2 p-sm-2">
            {% for config in [
                {
                    'img': 'content/img/loan/advantages/checkmark.svg',
                    'text': 'Одобрение 99%'
                },
                {
                    'img': 'content/img/loan/advantages/security.svg',
                    'text': 'Конфиденциальность данных'
                },
                {
                    'img': 'content/img/loan/advantages/time.svg',
                    'text': 'Деньги у вас через 10 мин'
                },
                {
                    'img': 'content/img/loan/advantages/money.svg',
                    'text': 'Зачисление любым способом'
                },
            ] %}
                {% include 'components/advantage.html.twig' with {'img': config.img, 'text': config.text} %}
            {% endfor %}
        </div>
    </div>
    <div class="col mt-2 mb-2 p-4 text-center">
        <button data-bs-toggle="modal" data-bs-target="#{{ modal_phone_verify_id }}"
                class="btn-get-loan loan-btn w-lg-25 p-lg-4 gradient-green" type="button">Получить займ
        </button>
    </div>
</div>
<style>
    .advantages {
        border-radius: var(--border-radius);
        background-color: white;
        padding-bottom: 100%;
    }
</style>