<div id="advantages" class="bg_white row row-cols-1 justify-content-center p-3">
    <div class="col mb-2 p-4 text-center"><h3>Преимущества работы с нами</h3></div>
    <div class="col w-75">
        <img class="img-fluid" src="{{ asset('content/img/loan/adv.svg') }}">
    </div>
    <div class="col mt-2 mb-2 p-4 text-center">
        <a href="{{ path('loan_form') }}" class="loan-btn loan-btn-green m-2" type="button">Получить займ</a>
    </div>
</div>