<div class="row row-cols-1 mb-3 mt-3 p-3 w-lg-75">
    <div class="col">
        <div class="row row-cols-2 text-center justify-content-center">
            <div class="col-md-auto">
                <img class="img-fluid" src="{{ asset('content/img/loan/zaymi.svg') }}">
            </div>

            <div class="col pt-3">
                <div class="row row-cols-3 mb-2">
                    <div class="col">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#{{ modal_phone_verify_id }}" class="footer-link">Получить займ</a>
                    </div>
                    <div class="col">
                        <a href="#instructions" class="footer-link">Как получить</a>
                    </div>
                    <div class="col">
                        <a href="#" class="footer-link">© ZaymiRubli 2024</a>
                    </div>
                </div>
                <div class="row row-cols-3">
                    <div class="col">
                        <a href="#advantages" class="footer-link">Преимущества</a>
                    </div>
                    <div class="col">
                        <a href="#reviews" class="footer-link">Отзывы</a>
                    </div>
                    <div class="col">
                        <a href="#" class="footer-link">Политика конфиденциальности</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>