<div class="block-sm footer">
    <div class="row row-cols-md-2 row-cols-sm-1 text-start">
        <div class="col-auto col-lg-4">
            <div class="footer-b-1">
                <div>
                    Сервис <span class="text-black">omoney.ru</span> не выдает займы и кредиты.<br>
                    Вся представленная на сайте информация, касающаяся финансовых услуг носит исключительно
                    информационный характери предоставляется абсолютно бесплатно.
                </div>
                <div class="separator"></div>
                <div>
                    ООО Альянс, 107553, Г.МОСКВА, ВН.ТЕР.Г. МУНИЦИПАЛЬНЫЙ ОКРУГ ГОЛЬЯНОВО, УЛ. АМУРСКАЯ, Д. 1А К. 5, ПОМЕЩ. 7Н
                </div>
                <div class="separator"></div>
                <div class="text-black">
                    ИНН: 9705113909<br>
                    ОГРН: 5177746353054
                    КПП: 771801001
                </div>
            </div>
        </div>
        <div class="col-auto col-lg-8">
            <div class="footer-b-1">
                <div>
                    Находится в реестре операторов, осуществляющих обработку персональных данных 77-18-009608
                    Приказ №51 от 22.02.2018. Документы: Договор оферта <a href="/docs/sogl_omoney.pdf">Согласие на обработку персональных данных.
                        Согласие на получение рекламных материалов.</a> Согласие на получение рекламных материалов может
                    быть отозвано путем отправки заявления в свободной форме по email-адресу <span class="text-black">info@omoney.ru</span> с
                    пометкой в теме «Отказ от сотрудничества», указав номер телефона, на который оставлена заявка.
                </div>
                <div class="separator"></div>
                <div>
                    Также по всем остальным вопросам можно оставить заявку на почту: <span class="text-black">info@omoney.ru</span>,
                    или по телефону: <span class="text-black">+7 (977) 161-22-59</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 p-4 text-start">
        <div class="col">
            © 2023 ООО «Альянс»
        </div>
    </div>
</div>