<div class="block-sm footer">
    <div class="row row-cols-md-2 row-cols-sm-1 text-start">
        <div class="col-auto col-lg-4">
            <div class="footer-b-1">
                <div>
                    Сервис <span class="text-black">zaymirubli.ru</span> не выдает займы и кредиты.<br>
                    Вся представленная на сайте информация, касающаяся финансовых услуг носит исключительно
                    информационный характери предоставляется абсолютно бесплатно.
                </div>
                <div class="separator"></div>
                <div>
                    ИП Орлова Валентина Максимовна, 125362, РОССИЯ, Г МОСКВА, УЛ МАЛАЯ НАБЕРЕЖНАЯ, Д 5, 1, КВ 10
                </div>
                <div class="separator"></div>
                <div class="text-black">
                    ИНН: 771814297028<br>
                    ОГРНИП: 323774600195183
                </div>
            </div>
        </div>
        <div class="col-auto col-lg-8">
            <div class="footer-b-1">
                <div>
                    Находится в реестре операторов, осуществляющих обработку персональных данных 77-18-009608
                    Приказ №51 от 22.02.2018. Документы: Договор оферта <a href="/docs/sogl_omoney.pdf">Согласие на обработку персональных данных.
                        Согласие на получение рекламных материалов.</a> Согласие на получение рекламных материалов может
                    быть отозвано путем отправки заявления в свободной форме по email-адресу <span class="text-black">info@zaymirubli.ru</span> с
                    пометкой в теме "Отказ от получения рекламных материалов", указав номер телефона, на который была оставлена заявка.
                </div>
                <div class="separator"></div>
                <div>
                    Также по всем остальным вопросам можно оставить заявку на почту: <span class="text-black">info@zaymirubli.ru</span>,
                    или по телефону: <span class="text-black">+7 (977) 161-22-59</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 p-4 text-start">
        <div class="col">
            © 2023 ООО «Альянс»
        </div>
    </div>
</div>