{% extends '@loan/base.html.twig' %}
{% set title = 'Взять займ' %}
{% block container %}
    <div class="row mt-4 p-2">
        {% include '@loan/welcome/range.html.twig' %}
        {% include '@loan/welcome/advantages.html.twig' %}
        {% include '@loan/welcome/instructions.html.twig' %}
        {% include '@loan/welcome/reviews.html.twig' %}
        {% include '@loan/welcome/footer.html.twig' %}
    </div>
{% endblock %}