<div id="instructions" class="row row-cols-1 mb-4 pt-4">
    <div class="col mt-4 p-4 text-center">
        <h3>Как получить деньги инструкция в 3 шага</h3>
    </div>
    <div class="col mb-4 p-2 text-center">
        <h5 class="gray">Наш сервис - это возможность получать займ любым удобным способом!</h5>
    </div>
    <div class="row row-cols-lg-3 row-cols-sm-1 justify-content-center g-lg-0">
        <div class="col">
            <img class="img-block-sm" src="{{ asset('content/img/loan/instruction/fill_form.svg') }}">
        </div>
        <div class="col">
            <img class="img-block-sm" src="{{ asset('content/img/loan/instruction/choose.svg') }}">
        </div>
        <div class="col">
            <img class="img-block-sm" src="{{ asset('content/img/loan/instruction/method.svg') }}">
        </div>
    </div>
</div>