<div id="instructions" class="block-sm row row-cols-1 mb-4 pt-4 justify-content-center">
    <div class="ms-lg-4 me-lg-4">
        <div class="col mt-4 p-4 text-center">
            <h5 class="semi-bold">Как получить деньги инструкция в 3 шага</h5>
        </div>
        <div class="col mb-4 p-2 text-center">
            <p class="gray">Наш сервис - это возможность получать займ любым удобным способом!</p>
        </div>
        <div class="col d-lg-flex justify-content-center">
            <div class="row row-cols-lg-3 row-cols-sm-1">
                <div class="col-auto">
                    <img class="img-block-sm" src="{{ asset('content/img/loan/instruction/fill_form.svg') }}">
                </div>
                <div class="col-auto">
                    <img class="img-block-sm" src="{{ asset('content/img/loan/instruction/choose.svg') }}">
                </div>
                <div class="col-auto">
                    <img class="img-block-sm" src="{{ asset('content/img/loan/instruction/method.svg') }}">
                </div>
            </div>
        </div>
    </div>
</div>