<div id="instructions" class="row row-cols-1 mb-4 pt-4">
    <div class="col mt-4 p-4 text-center">
        <h3>Как получить деньги инструкция в 3 шага</h3>
    </div>
    <div class="col mb-4 p-2 text-center">
        <span class="p-gray">Наш сервис - это возможность получать займ любым удобным способом!</span>
    </div>
    <div class="row">
        <img class="img-fluid" src="{{ asset('content/img/loan/instructions.svg') }}">
    </div>
</div>