<div class="block row row-cols-lg-2 row-cols-md-1 mt-2 align-items-center justify-content-center">
    <div class="col">
        <div class="row row-cols-1">
            <div class="mb-3">
                <div class="col text-lg-start"><h3 class="semi-bold">Взять первый займ</h3></div>
                <div class="col text-lg-start"><h2 class="text-green bold">БЕЗ ПРОЦЕНТОВ</h2></div>
            </div>
            <div class="col d-sm-block d-lg-none">
                <img class="img-fluid" src="{{ asset('content/img/loan/welcome.svg') }}">
            </div>
            <div class="col range block range-sm range-lg  shadow mt-2 text-start">
                <div class="row">
                    <div class="col-auto">
                        <h5>Вам нужно</h5>
                    </div>
                </div>
                <div class="row justify-content-between mb-4">
                    <div class="col-auto"><span class="range_val">2000р</span></div>
                    <div class="col-auto"><span class="range_val">100000р</span></div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="range" value="2000" min="2000" max="100000" step="2000" class="form-range"
                               id="range_amount"
                               oninput="document.getElementById('range_amount_value').innerHTML = this.value">
                    </div>
                </div>
                <div class="pt-sm-4">
                    <h4 class="m-5"><span id="range_amount_value">2000</span>р</h4>
                </div>
            </div>
            <div class="col mt-4 p-4">
                <button data-bs-toggle="modal"
                        data-bs-target="#{{ modal_phone_verify_id }}"
                        class="btn-get-loan loan-btn gradient-green m-2 w-100"
                        type="button">Получить займ
                </button>
            </div>
            <div class="col p-4"><p class="loan-p">Одобрение 99%</p></div>
        </div>
    </div>
    <div class="col d-lg-block d-sm-none">
        <img class="img-fluid" src="{{ asset('content/img/loan/welcome.svg') }}">
    </div>
</div>
<style>
    .range {
        background-color: #F6F6F6;
        border-radius: var(--border-radius);
    }

    .range_val {
        color: #CDCDCD;
        font-family: Inter-600;
        font-size: var(--label-size) !important;
    }

    .range label {
        font-family: Inter-600;
        font-size: var(--label-size) !important;
        color: black;
    }

    @media (min-width: 300px) {
        :root {
            --range-thumb-size: 5.5vw !important;
            --range-thumb-radius: 5em !important;
            --range-track-height: 5vw !important;
        }

        .range-sm input::-webkit-slider-thumb {
            background: var(--green);
            width: var(--range-thumb-size);
            height: var(--range-thumb-size);
            border-radius: var(--range-thumb-radius);
        }

        .range-sm input::-moz-range-thumb {
            background: var(--green);
            width: var(--range-thumb-size);
            height: var(--range-thumb-size);
            border-radius: var(--range-thumb-radius);
        }

        .range_row input::-ms-thumb {
            background: var(--green);
            width: var(--range-thumb-size);
            height: var(--range-thumb-size);
            border-radius: var(--range-thumb-radius);
        }

        .range-sm input::-webkit-slider-runnable-track {
            height: var(--range-track-height);
        }

        .range-sm input::-moz-range-track {
            height: var(--range-track-height);

        }

        .range-sm input::-ms-track {
            height: var(--range-track-height);
        }
    }

    /*@media (min-width: 768px) {*/
    @media (min-width: 1000px) {
        :root {
            --range-thumb-size: 2.5vw !important;
            --range-thumb-radius: 2em !important;
            --range-track-height: 2vw !important;
        }

        .range-lg input::-webkit-slider-thumb {
            background: var(--green);
            width: var(--range-thumb-size);
            height: var(--range-thumb-size);
            border-radius: var(--range-thumb-radius);
        }

        .range-lg input::-moz-range-thumb {
            background: var(--green);
            width: var(--range-thumb-size);
            height: var(--range-thumb-size);
            border-radius: var(--range-thumb-radius);
        }

        .range_row input::-ms-thumb {
            background: var(--green);
            width: var(--range-thumb-size);
            height: var(--range-thumb-size);
            border-radius: var(--range-thumb-radius);
        }

        .range-lg input::-webkit-slider-runnable-track {
            height: var(--range-track-height);
        }

        .range-lg input::-moz-range-track {
            height: var(--range-track-height);

        }

        .range-lg input::-ms-track {
            height: var(--range-track-height);
        }
    }
</style>