/********************************************
Сгенерированно в Quick Site Upgrade
https://quick-site-upgrade.com/tools/web-font-optimizer
********************************************/
@font-face {
    font-family: 'montserrat-v26-cyrillic_latin-regular';
    font-style: normal;
    font-weight: 400;
    src: url('../../content/fonts/montserrat-v26-cyrillic_latin-regular-russian.woff2') format('woff2');
    unicode-range: U+21-23,U+25-40,U+5B-5F,U+7B-7E,U+AB,U+BB,U+401,U+410-44F,U+451,U+2013,U+2014,U+2018,U+2019,U+201C-201E,U+2026,U+20BD;
}
@font-face {
    font-family: 'montserrat-v26-cyrillic_latin-300';
    font-style: normal;
    font-weight: 400;
    src: url('../../content/fonts/montserrat-v26-cyrillic_latin-300-russian.woff2') format('woff2');
    unicode-range: U+21-23,U+25-40,U+5B-5F,U+7B-7E,U+AB,U+BB,U+401,U+410-44F,U+451,U+2013,U+2014,U+2018,U+2019,U+201C-201E,U+2026,U+20BD;
}
@font-face {
    font-family: 'inter-v13-cyrillic_latin-regular';
    font-style: normal;
    font-weight: 400;
    src: url('../../content/fonts/inter-v13-cyrillic_latin-regular-russian.woff2') format('woff2');
    unicode-range: U+21-23,U+25-40,U+5B-5F,U+7B-7E,U+AB,U+BB,U+401,U+410-44F,U+451,U+2013,U+2014,U+2018,U+2019,U+201C-201E,U+2026,U+20BD;
}
@font-face {
    font-family: 'Inter-900';
    font-style: normal;
    font-weight: 400;
    src: url('../../content/fonts/inter-v13-cyrillic_latin-900-russian.woff2') format('woff2');
    unicode-range: U+21-23,U+25-40,U+5B-5F,U+7B-7E,U+AB,U+BB,U+401,U+410-44F,U+451,U+2013,U+2014,U+2018,U+2019,U+201C-201E,U+2026,U+20BD;
}
@font-face {
    font-family: 'Inter-600';
    font-style: normal;
    font-weight: 400;
    src: url('../../content/fonts/inter-v13-cyrillic_latin-600-russian.woff2') format('woff2');
    unicode-range: U+21-23,U+25-40,U+5B-5F,U+7B-7E,U+AB,U+BB,U+401,U+410-44F,U+451,U+2013,U+2014,U+2018,U+2019,U+201C-201E,U+2026,U+20BD;
}
@font-face {
    font-family: 'Inter-300';
    font-style: normal;
    font-weight: 400;
    src: url('../../content/fonts/inter-v13-cyrillic_latin-300-russian.woff2') format('woff2');
    unicode-range: U+21-23,U+25-40,U+5B-5F,U+7B-7E,U+AB,U+BB,U+401,U+410-44F,U+451,U+2013,U+2014,U+2018,U+2019,U+201C-201E,U+2026,U+20BD;
}
