.toast-container {
    width:max-content;
    margin-left:auto;
    position: sticky;
    bottom: 0;
    right: 0;
    padding: 3em;
}

.toast {
    align-items: center;
    padding: 1em;
    border-radius: var(--border-radius) !important;
}

.toast-body span {
    font-family: Inter-600;
    font-size: 18px;
    color: white;
    text-align: center;
}

.blink {
    -webkit-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
    font-weight: bold;
}

@-webkit-keyframes blink {
    0%, 100% { opacity: 1; } /* Элемент виден */
    50% { opacity: 0; }      /* Элемент мерцает и становится невидимым! */
}

@keyframes blink {
    0%, 100% { opacity: 1; } /* Элемент виден */
    50% { opacity: 0; }      /* Элемент мерцает и становится невидимым! */
}