h1 {
    all: unset;
    font-family: Inter-900;
    font-size: 96px !important;
    text-shadow: 2px 2px black;
}

h2 {
    all: unset;
    font-family: Inter-900;
    font-size: var(--h2-size) !important;
}

h3 {
    all: unset;
    font-family: Inter-600;
    font-size: var(--h3-size) !important;
}

h4 {
    all: unset;
    font-family: Inter-600;
    font-size: var(--h4-size) !important;
}

h5 {
    all: unset;
    font-family: Inter-600;
    font-size: var(--h5-size) !important;
}

p {
    all: unset;
    font-family: var(--p-family);
    font-size: var(--p-size) !important;
}

a {
    text-decoration: none !important;
}

.text-green {
    color: var(--green);
}

.text-black {
    color: var(--black);
}

.gray {
    color: #969696;
}

.footer-link {
    font-family: Inter-400;
    font-size: 20px;
    color: black !important;
}

.loan-p {
    all: unset;
    font-family: Inter-600;
    font-size: var(--p-size) !important;
    /*drop-shadow(0px 4px 4px);*/
}

.form-label {
    font-family: Inter-400 !important;
    /*font-size: var(--label-size) !important;*/
    color: #969696;
}

.loan_form_input {
    line-height: var(--line-height) !important;
    border-radius: var(--border-radius);
    border-style: none;
    background-color: #F6F6F6;
}

.loan_form_input::placeholder {
    font-family: Inter-400;
    color: #969696;
    padding: 5px;
}

.gradient-green {
    background-image: linear-gradient(to right, #008FD2 0%, #00A02B 51%, #00A02B 100%);
    /*background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);*/
}

.loan-btn {
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: var(--border-radius);
    font-size: var(--h5-size) !important;
    margin: 0;
    text-align: center;
    padding: 3% 6% 3% 6% !important;
    border-style: none;
    line-height: calc(var(--h5-size) + 1vw) !important;
    white-space: nowrap;
}

.loan-btn-sm {
    font-size: calc(var(--h5-size) - 1vw) !important;
    line-height: var(--h5-size) !important;
}

.loan-btn:hover {
    background-position: right center; /* change the direction of the change here */
}

.error-text {
    color: red;
    font-family: Inter-600;
    font-style: var(--p-size);
}

.error_input {
    border: solid red .5vw !important;
}

.good_input {
    border-style: double;
    border-color: var(--green);
}

.bg_white {
    background-color: #F6F6F6;
}

.advantages div {
    background-color: white;
    border-radius: var(--border-radius);
}

.square{
    width: 270px;
    height: 270px;
}

.autocomplete-suggestions {
    background-color: #dfdfdf;
    border-radius: var(--border-radius);
    padding: 1em;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    font-size: var(--p-size);
    max-height: 100% !important;
}

.autocomplete-suggestions a {
    color: #2c2c2c;
}

.form-control-lg {
    min-height: calc(3.5em + 1rem + calc(var(--bs-border-width)* 2)) !important;
    padding: .5rem 2rem !important;
    font-size: var(--p-size) !important;
}

.block {
    margin: 1% 5% 5% 5% !important;
}

.block-sm {
    margin: 3% 3% 3% 3% !important;
}