h1 {
    all: unset;
    color: #00AD4A;
    font-family: Inter-900;
    font-size: 96px;
    text-shadow: 2px 2px black;
}

h3 {
    all: unset;
    font-family: Inter-600;
    font-size: 48px;
}

h4 {
    all: unset;
    font-family: Inter-600;
    font-size: 32px;
}

p {
    all: unset;
    font-family: Inter-300;
    font-size: 20px;
    drop-shadow(0px 4px 4px);
}

.container_loan {
    /*background-color: #e5ecff;*/
}

.form_container {
    margin-top: 4em;
    max-width: 70%;
}

.loan_form_input {
    line-height: 3.5;
    border-radius: 10px;
    border-style: none;
    background-color: #F6F6F6;
}

.loan_form_input::placeholder {
    font-family: Inter-400;
    font-size: 16px;
    color: #969696;
    padding: 5px;
}