h1 {
    all: unset;
    font-family: Inter-900;
    font-size: var(--h1-size) !important;
    text-shadow: 2px 2px black;
}

h2 {
    all: unset;
    font-family: Inter-900;
    font-size: var(--h2-size) !important;
}

h3 {
    all: unset;
    font-family: Inter-600;
    font-size: var(--h3-size) !important;
}

h4 {
    all: unset;
    font-family: Inter-600;
    font-size: var(--h4-size) !important;
}

h5 {
    all: unset;
    font-family: Inter-600;
    font-size: var(--h5-size) !important;
}

p {
    all: unset;
    font-family: var(--p-family);
    font-size: var(--p-size) !important;
}

a {
    text-decoration: none !important;
}

.bold {
    font-family: Inter-900 !important;
}

.semi-bold {
    font-family: Inter-600 !important;
}

.text-green {
    color: var(--green);
}

.text-black {
    color: var(--black);
}

.gray {
    color: #969696;
}

.footer-link {
    font-family: Inter-600;
    font-size: 20px;
    color: black !important;
}

.loan-p {
    all: unset;
    font-family: Inter-600;
    font-size: var(--p-size) !important;
    /*drop-shadow(0px 4px 4px);*/
}

.form-label {
    font-family: Inter-600 !important;
    /*font-size: var(--label-size) !important;*/
    color: #969696;
}

.loan_form_input {
    line-height: var(--line-height) !important;
    border-radius: var(--border-radius);
    border-style: none;
    background-color: #F6F6F6;
}

.loan_form_input::placeholder {
    font-family: Inter-600;
    color: #969696;
    padding: 5px;
}

.gradient-green {
    background-image: linear-gradient(to right, #008FD2 0%, #00A02B 51%, #00A02B 100%);
    /*background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);*/
}

.loan-btn {
    --bs-btn-padding-x: 2.5rem;
    --bs-btn-padding-y: 0.6rem;
    --bs-btn-line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;


    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: var(--border-radius);

    font-size: var(--h5-size) !important;
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    margin: 0;
    text-align: center;
    border-style: none;
    white-space: nowrap;
}

.loan-btn-sm {
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: var(--border-radius);
    margin: 0;
    text-align: center;
    padding: 1% 3% 1% 3% !important;
    border-style: none;
    white-space: nowrap;
    font-size: var(--p-size) !important;
    line-height: 2 !important;
}

.loan-btn:hover {
    background-position: right center; /* change the direction of the change here */
}

.error-text {
    color: red;
    font-family: Inter-600;
    font-style: var(--p-size);
}

.error_input {
    border: solid red 2px !important;
}

.good_input {
    border-style: double;
    border-color: var(--green);
}

.bg_white {
    background-color: var(--wrap-color);
}

.advantages div {
    background-color: white;
    border-radius: var(--border-radius);
}

.square{
    width: 270px;
    height: 270px;
}

.separator {
    margin: 15px 0;
    width: 100%;
    height: 2px;
    background-color: #E9EBF2;
}

.footer div {
    color: var(--footer-text-color);
    font-family: Inter-300;
    font-size: var(--p-size) !important;
}

.footer-b-1 {
    margin-top: 32px;
    border-radius: 32px;
    background-color: #F9FAFB;
    padding: 40px;
}

.autocomplete-suggestions {
    background-color: #dfdfdf;
    border-radius: var(--border-radius);
    padding: 1em;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    font-size: var(--p-size);
    max-height: 100% !important;
}

.autocomplete-suggestions a {
    color: #2c2c2c;
}

.form-control-lg {
    min-height: calc(3.5em + 1rem + calc(var(--bs-border-width)* 2)) !important;
    padding: .5rem 2rem !important;
    font-size: var(--label-size) !important;
}