{% extends '@loan/base.html.twig' %}
{% set title = 'Подбор предложений' %}
{% block container %}
    <div class="row mt-4 p-2">
        {% include '@loan/offers/list.html.twig' %}
    </div>
{% endblock %}
{% block importmap %}{{ importmap(['jquery_provider', 'app']) }}{% endblock %}