<div class="col-1"></div>
<div class="col-10 offer_wrap vh-100" {% if edit_action is not defined %} style="display: none;" {% endif %}>
    <div class="row text-center mb-4">
        <h4>Вот что мы подобрали специально для вас</h4>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 justify-content-left mb-3 "
            {% if edit_action is not defined %} style="display: none;" {% endif %}
    >
        {% for offer in offers %}
            <div class="col p-2 {{ offer is not null and offer.isActive == false ? 'inactive' : '' }}">
                {% include '@admin/offer/offer_card.html.twig' with {'offer': offer} %}
            </div>
        {% endfor %}
    </div>
</div>
<div class="col-1"></div>