{% extends '@admin/base.html.twig' %}

{% set title = relation is defined ? 'Редактирование связи' : 'Создание связи' %}
{% block card_button_bar %}
    <a href="{{ path('admin_checker_relations_list') }}" class="btn btn-primary">Назад</a>
{% endblock %}
{% block card_body %}
    {{ include('@admin/checker/relations/_form.html.twig') }}
{% endblock %}