/*remove arrows from number input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root {
    --border-radius: 1vw !important;
    --wrap-color: #F6F6F6;
    --footer-text-color: #9698A1;
    --green: #00AD4A;
    --black: black;
    --img-block-width: auto;
    --h1-size: 5vw !important;
    --h2-size: 4vw !important;
    --h3-size: 3vw !important;
    --h4-size: 3vw !important;
    --h5-size: 1.5vw !important;
    --p-size: 20px !important;
    --p-family: Inter-300 !important;
    --label-size: 1vw !important;
    --bs-btn-hover-bg: var(--green) !important;
    --bs-btn-hover-border-color: var(--green) !important;
    --paddding: 2vw !important;
    --line-height: inherit
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.img-block-sm {
    height: auto;
    width: var(--img-block-width);
}

.block-sm {
    padding: 1% 1% 1% 1% !important;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    :root {
        --border-radius: 2vw !important;
        --green: #00AD4A;
        --img-block-width: 100%;
        --h1-size: 20vw !important;
        --h2-size: 10vw !important;
        --h3-size: 8vw !important;
        --h4-size: 7vw !important;
        --h5-size: 6vw !important;
        --p-size: 40px !important;
        --label-size: 5vw !important;
        --paddding: 4vw !important;
    }

    .block {
        padding: 5% 5% 5% 5% !important;
    }

    .w-sm-100 {
        width: 100% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-25 {
        width: 25% !important;
    }

    .h-sm-100 {
        height: 100% !important;
    }

    .h-sm-75 {
        height: 75% !important;
    }

    .h-sm-50 {
        height: 50% !important;
    }

    .h-sm-25 {
        height: 25% !important;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .w-md-100 {
        width: 100% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-25 {
        width: 25% !important;
    }

    .h-md-100 {
        height: 100% !important;
    }

    .h-md-75 {
        height: 75% !important;
    }

    .h-md-50 {
        height: 50% !important;
    }

    .h-md-25 {
        height: 25% !important;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    :root {
        --border-radius: 1vw !important;
        --green: #00AD4A;
        --img-block-width: auto;
        --h1-size: 6vw !important;
        --h2-size: 3vw !important;
        --h3-size: 2vw !important;
        --h4-size: 2vw !important;
        --h5-size: 1.5vw !important;
        --p-size: 1vw !important;
        --label-size: 1vw !important;
        --paddding: 2vw !important;
    }

    /*.block {*/
    /*    padding: 1% 5% 5% 5% !important;*/
    /*}*/

    .w-lg-100 {
        width: 100% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }

    .h-lg-100 {
        height: 100% !important;
    }

    .h-lg-75 {
        height: 75% !important;
    }

    .h-lg-50 {
        height: 50% !important;
    }

    .h-lg-25 {
        height: 25% !important;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .w-xl-100 {
        width: 100% !important;
    }

    .w-xl-75 {
        width: 75% !important;
    }

    .w-xl-50 {
        width: 50% !important;
    }

    .w-xl-25 {
        width: 25% !important;
    }

    .h-xl-100 {
        height: 100% !important;
    }

    .h-xl-75 {
        height: 75% !important;
    }

    .h-xl-50 {
        height: 50% !important;
    }

    .h-xl-25 {
        height: 25% !important;
    }
}






