.offer_wrap {
    padding: 2em;
    border-radius: var(--border-radius);
    background-color: #F6F6F6;
}

.offer_card {
    border-radius: var(--border-radius);
    background-color: white;
}

.offer_blank {
    max-height: 450px;
}
.offer_card .term span {
    color: #262a30;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
}

.btn_offer {
    border-radius: 10px;
    background-image: linear-gradient(to right, #008FD2 0%, #00A02B 51%, #00A02B 100%);
    font-size: 18px!important;
    color: #F6F6F6;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    border: none;
    font-weight: 600;
    margin-top: 10px;
}


.logo_feed {
    margin: 0 0 10px;
    min-height: 80px;
    background: no-repeat center center;
    background-size: contain;
    min-width: 190px;
}