.offer_wrap {
    padding: 2em;
    border-radius: var(--border-radius);
    background-color: #F6F6F6;
}

.offer_card {
    border-radius: var(--border-radius);
    background-color: white;
    padding: 2%;
}

.offer_blank {
    max-height: 450px;
}
.offer_card .term span {
    color: #262a30;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
}


.logo_feed {
    max-width: 80%;
    height: 120px;
}

.first_offer {
    border: 8px outset lightgreen;
}