{% extends 'base.html.twig' %}
    {% block body %}
        <div id="spinner" class="position-fixed bottom-0 end-0 collapse">
            <div class="cv-spinner">
                <span class="spinner"></span>
            </div>
        </div>
        <div class="container">
            <div class="row mt-5 mb-5 align-items-center justify-content-between">
                {% block header %}
                    <div class="col-4">
                        <img class="img-fluid" src="{{ asset('content/img/loan/zaymi.png') }}">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid" src="{{ asset('content/img/loan/increase.png') }}">
                    </div>
                {% endblock %}
            </div>
        </div>
                {% block container %}
                {% endblock %}
    {% endblock %}