{% extends 'base.html.twig' %}
    {% block body %}
        <div id="spinner" class="position-fixed bottom-0 end-0 collapse">
            <div class="cv-spinner">
                <span class="spinner"></span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row row-cols-2 m-lg-5 m-sm-3 p-2 pl-4">
                {% block header %}
                    <div class="col d-flex justify-content-between">
                        <img class="img-fluid" src="{{ asset('content/img/loan/zaymi.svg') }}">
                    </div>
                    <div class="col d-flex justify-content-end">
                        <img class="img-fluid" src="{{ asset('content/img/loan/increase.svg') }}">
                    </div>
                {% endblock %}
            </div>
        </div>
                {% block container %}
                {% endblock %}
        <div class="toast-container">
            {% include 'components/push.html.twig' %}
        </div>

    {% endblock %}