{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                m[i].l=1*new Date();
                for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
                k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(97288748, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/97288748" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    {% endblock %}
    {% block body %}
        <div id="spinner" class="position-fixed bottom-0 end-0 collapse">
            <div class="cv-spinner">
                <span class="spinner"></span>
            </div>
        </div>
        <div class="">
            <div class="row row-cols-lg-2 row-cols-sm-1 p-sm-5 p-lg-3 text-center">
                {% block header %}
                    <div class="col order-sm-2">
                        <img class="img-block-sm" src="{{ asset('content/img/loan/zaymi.svg') }}">
                    </div>
                    <div class="col align-content-center order-sm-1 mb-sm-2 pb-sm-3 pb-lg-0">
                        <img class="img-block-sm" src="{{ asset('content/img/loan/increase.svg') }}">
                    </div>
                {% endblock %}
            </div>
            <div class="content_body d-block mt-sm-3 justify-content-center text-sm-center">
                {% block container %}{% endblock %}
            </div>
        </div>
        <div class="toast-container">
            {% include 'components/push.html.twig' %}
        </div>

    {% endblock %}