{% extends 'base.html.twig' %}
    {% block body %}
        <div id="spinner" class="position-fixed bottom-0 end-0 collapse">
            <div class="cv-spinner">
                <span class="spinner"></span>
            </div>
        </div>
        <div class="container-lg p-sm-5">
            <div class="row row-cols-lg-2 row-cols-sm-1 text-center">
                {% block header %}
                    <div class="col order-sm-2">
                        <img class="img-block" src="{{ asset('content/img/loan/zaymi.svg') }}">
                    </div>
                    <div class="col align-content-center order-sm-1 mb-sm-2 pb-sm-3">
                        <img class="img-block" src="{{ asset('content/img/loan/increase.svg') }}">
                    </div>
                {% endblock %}
            </div>
            {% block container %}{% endblock %}
        </div>
        <div class="toast-container">
            {% include 'components/push.html.twig' %}
        </div>

    {% endblock %}