<div class="col">
    <div class="advantages row row-cols-lg-1 text-center shadow p-4 m-3">
        <div class="col col-sm-auto align-content-center p-sm-4">
            <img class="img-fluid" src="{{ asset(img) }}">
        </div>
        <div class="col mt-lg-3 text-sm-start align-content-center">
            <span>{{ text }}</span>
        </div>
    </div>
</div>