<div class="col">
    <div class="advantages row row-cols-1 text-center shadow p-4 m-3">
        <div class="col">
            <img class="img-fluid" src="{{ asset(img) }}">
        </div>
        <div class="col mt-lg-3">
            <span>{{ text }}</span>
        </div>
    </div>
</div>