<div class="col">
    <div class="advantages h-lg-100 row row-cols-lg-1 text-center align-items-center shadow p-4 m-3">
        <div class="col col-sm-auto align-content-center p-sm-4 p-lg-0">
            <img class="img-fluid" src="{{ asset(img) }}">
        </div>
        <div class="col text-sm-start text-lg-center align-content-center">
            <p>{{ text }}</p>
        </div>
    </div>
</div>