<h1>Уважаемый пользователь!</h1>

<p>
    На нашем сайте был зарегистрирован личный кабинет на данный e-mail. <br><br>
    <a href="https://yandex.ru">Подтвердить регистрацию</a>.<br>
    Если это были не Вы, просто проингорируйте это письмо.
</p>
