<!-- Modal -->
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-body">
                <div class="container-fluid position-relative">
                    <div class="modal-close">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="pt-3">
                        {% block body %}{% endblock %}
                    </div>
                    <div id="modal-block-error" class="p-relative mt-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block style %}
    <style>
        /*!* Small devices (landscape phones, 576px and up)*!*/
        /*@media (min-width: 576px) {*/
        /*    .modal {*/
        /*        --bs-modal-width: 80% !important;*/
        /*        --bs-modal-padding: 3vw !important;*/
        /*    }*/
        /*}*/
        /*!* Large devices (desktops, 992px and up)*!*/
        /*@media (min-width: 992px) {*/

        /*    .modal {*/
        /*        --bs-modal-width: 30% !important;*/
        /*        --bs-modal-padding: 1vw !important;*/
        /*    }*/
        /*}*/

        .modal-close {
            position: absolute;
            top: 0;
            right: 0;
        }
        .modal-content {
            border-radius: var(--border-radius);
        }
        .modal-content p {
            font-family: Inter-600;
            font-size: 3vw;
            color: gray;
        }
    </style>
{% endblock %}
