{% extends '@loan/base.html.twig' %}
{% set title = errorMessage %}
{% block container %}
    <div class="container row justify-content-center">
        <div class="col-3"></div>
        <div class="col-3">
            <div class="col-12">
                <h1>{{ code }}</h1>
            </div>
            <div class="col-12 p-2 mt-2">
                <p>{{ errorMessage }}</p>
            </div>
            <div class="col-12 mt-3 pt-3">
                <a href="{{ path('loan_welcome') }}" type="button" class="loan-btn gradient-green">На главную</a>
            </div>
        </div>
        <div class="col-6">
            <img class="img-fluid" src="{{ asset('content/img/loan/man_finger.svg') }}">
        </div>
    </div>
{% endblock %}
