{% extends '@loan/base.html.twig' %}
{% set title = errorMessage %}
{% block container %}
    <div class="row row-cols-lg-2 row-cols-sm-1 justify-content-center">
        <div class="col-auto align-content-center order-lg-1 order-sm-2">
            <div class="row-cols-1 g-4">
                <div class="col mb-lg-3"><h1 class="text-green">{{ code }}</h1></div>
                <div class="col mb-lg-3"><h5>{{ errorMessage }}</h5></div>
                <div class="col mt-lg-4 pt-5"><a href="{{ path('loan_welcome') }}" type="button" class="loan-btn gradient-green">На главную</a>
                </div>
            </div>
        </div>
        <div class="col-auto order-lg-2 order-sm-1">
            <img class="img-fluid" src="{{ asset('content/img/loan/man_finger.svg') }}">
        </div>
    </div>
{% endblock %}
