{% extends '@loan/base.html.twig' %}
{% set title = 'Получить заем' %}
{% block container %}
    <div class="container row mt-4 p-2">
        {% include '@loan/form/phone_verify.html.twig' %}
        {% include '@loan/form/form.html.twig' %}
        {% include '@loan/form/thanks.html.twig' %}
    </div>
{% endblock %}

