<div id="phone_verify" class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row mt-2 align-items-center justify-content-between">
            <div class="col-9">
            </div>
            <div class="col-3">
                <a id="step1" type="button" class="loan-btn loan-btn-green">Шаг 1</a>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-center">
                <div class="row mt-2 align-items-center">
                    <div class="col-12 mt-4">
                        <h4>Введите номер телефона</h4>
                    </div>
                    <div class="col-12 mt-4">
                        <p class="">Укажите номер телефона, на который
                            можно отправить SMS сообщение</p>
                    </div>
                    <div class="col-12 mt-4">
                        <span class="text_semi_bold" style="font-size: 16px; font-family: Inter-600">Авторизация через:</span>
                        <p> {Какие то значки}</p>
                    </div>
                    <div class="col-12 mt-4">
                        <input type="text" id="phone" name="phone" class="form-control loan_form_input form-control phone_mask" placeholder="+7(  )">
                    </div>
                    <div class="col-12 mt-4 p-4">
                        <a id="btn_send_sms" type="button" class="loan-btn loan-btn-green m-2">Отправить SMS код</a>
                    </div>
                    <div class="col-12 mt-4">
                        <p>Заполняя форму связи, Вы соглашаетесь с политикой конфиденциальности</p>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <div class="col-2"></div>
</div>