<div id="form_main" class="block {{ hide ? 'd-none' : '' }}">
    <div class="block-sm row row-cols-lg-2 row-cols-sm-1 mt-2 g-sm-3">
        {% block header %}{% endblock %}
    </div>
    <div class="row row-cols-1 mt-2">
        {{ form_start(form, {'action': path('loan_form_submit'), 'method': 'POST'}) }}
        <div class="form_errors">
            {{ form_errors(form) }}
        </div>
        {% block body %}{% endblock %}
        {{ form_end(form) }}
    </div>
</div>
<style>
    #form_main input {
        background-color: #F6F6F6;
        border-style: none;
        border-radius: var(--border-radius);

    }

    #form_main input::placeholder {
        color: #969696;
    }
</style>